<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rtech.fastlearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fastlearn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pdfView"></activity>
        <activity android:name=".Fullview"
            android:screenOrientation="portrait"/>
        <activity android:name=".Class8notes"
            android:screenOrientation="portrait"/>
        <activity android:name=".class12commerce"
            android:screenOrientation="portrait"/>
        <activity android:name=".class11commerce"
            android:screenOrientation="portrait"/>
        <activity android:name=".class11th"
            android:screenOrientation="portrait"/>
        <activity android:name=".Class12"
            android:screenOrientation="portrait"/>
        <activity android:name=".Class10"
            android:screenOrientation="portrait"/>
        <activity android:name=".Class9"
            android:screenOrientation="portrait"/>
        <activity android:name=".Class8"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Classes"
            android:screenOrientation="portrait"/>
        <activity android:name=".Tution_classes"
            android:screenOrientation="portrait"/>
        <activity android:name=".Live"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IPCC_Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>